src/Test/Common/Data/Markup/SimpleTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
/*******************************************************************
 * Purpose: Custom schema for generating attribute values in xaml.
 * Owner: jbuls
 * Contributors: 
 *
 * Last Changed By:  $Author: REDMOND\\a-paberg $
 * Change Number:    $Change: 82864 $
 * Revision:         $Revision: 9 $
 * Change Date:      $Date: 2006/03/16 11:08:17 $
 * Filename:         $Source: //depot/vbl_wcp_avalon_dev_stress/windowstest/client/wcptests/stress/Framework/CoreUI/CoreUIStress_SimpleTypes.xsd $
********************************************************************/
-->
<xs:schema 
  targetNamespace="http://schemas.microsoft.com/winfx/2006/xaml/presentation" 
  elementFormDefault="qualified" 
  attributeFormDefault="qualified" 
  xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation" 
  xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"  
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xml="http://www.w3.org/XML/1998/namespace">
  
  <!-- ******************************************************* -->
  <!-- *** Simple Types ************************************** -->
  <!-- ******************************************************* -->
  <xs:simpleType name="FontUriSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="arial.ttf" />
      <xs:enumeration value="small font.ttf" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsControlsClickModeClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Release" />
      <xs:enumeration value="Press" />
      <xs:enumeration value="Hover" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaAnimationDoubleAnimationBaseClassTopic">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="frlrfSystemObjectClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hello" />
      <xs:enumeration value=" world " />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfSystemColumnsClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfRotationClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Rotate0" />
      <xs:enumeration value="Rotate90" />
      <xs:enumeration value="Rotate180" />
      <xs:enumeration value="Rotate270" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfSystemInt32ClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsFontSizeClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="8pt" />
      <xs:enumeration value="14pt" />
      <xs:enumeration value="18.2" />
      <xs:enumeration value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsControlsScrollerVisibilityClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="Hidden" />
      <xs:enumeration value="Visible" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfFontFamilyClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Arial" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsFlowDirectionClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LeftToRight" />
      <xs:enumeration value="RightToLeft" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsInputCursorClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="No" />
      <xs:enumeration value="Arrow" />
      <xs:enumeration value="AppStarting" />
      <xs:enumeration value="Cross" />
      <xs:enumeration value="Help" />
      <xs:enumeration value="IBeam" />
      <xs:enumeration value="SizeAll" />
      <xs:enumeration value="SizeNESW" />
      <xs:enumeration value="SizeNS" />
      <xs:enumeration value="SizeNWSE" />
      <xs:enumeration value="SizeWE" />
      <xs:enumeration value="UpArrow" />
      <xs:enumeration value="Wait" />
      <xs:enumeration value="Hand" />
      <xs:enumeration value="Pen" />
      <xs:enumeration value="ScrollWE" />
      <xs:enumeration value="ScrollSE" />
      <xs:enumeration value="ArrowCD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsOrientationClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="Horizontal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsLengthClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="100" />
      <xs:enumeration value="400" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsAbsLengthClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="100" />
      <xs:enumeration value="400" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsThicknessClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1" />
      <xs:enumeration value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfSystemBooleanClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
      <xs:enumeration value="true" />
      <xs:enumeration value="false" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfSliderOrientationClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="horizontal" />
      <xs:enumeration value="vertical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TextAlignmentAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Justify" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TextTrimmingAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CharacterEllipsis" />
      <xs:enumeration value="WordEllipsis" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConstrainedDoubleAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0.0" />
      <xs:enumeration value="0.25" />
      <xs:enumeration value="0.4" />
      <xs:enumeration value="0.5" />
      <xs:enumeration value="0.6" />
      <xs:enumeration value="0.75" />
      <xs:enumeration value="0.8" />
      <xs:enumeration value="0.85" />
      <xs:enumeration value="0.9" />
      <xs:enumeration value="0.95" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NegativeDoubleAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="-10.3" />
      <xs:enumeration value="-1" />
      <xs:enumeration value="-0.1" />
      <xs:enumeration value="0.0" />
      <xs:enumeration value="0.3" />
      <xs:enumeration value="1.1" />
      <xs:enumeration value="10.01" />
      <xs:enumeration value="100.001" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DoubleAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0.0" />
      <xs:enumeration value="0.3" />
      <xs:enumeration value="1.1" />
      <xs:enumeration value="10.01" />
      <xs:enumeration value="100.001" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NonZeroDoubleAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0.1" />
      <xs:enumeration value="1.1" />
      <xs:enumeration value="10.01" />
      <xs:enumeration value="100.001" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsVisibilityClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Visible" />
      <xs:enumeration value="Hidden" />
      <xs:enumeration value="Collapsed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfBoolClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true" />
      <xs:enumeration value="false" />
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsControlsDockClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Top" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsPointClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0.0,0.0" />
      <xs:enumeration value="0.0,0.25" />
      <xs:enumeration value="0.0,0.50" />
      <xs:enumeration value="0.0,0.75" />
      <xs:enumeration value="0.0,1" />
      <xs:enumeration value="0.25,0.0" />
      <xs:enumeration value="0.25,0.25" />
      <xs:enumeration value="0.25,0.75" />
      <xs:enumeration value="0.25,1" />
      <xs:enumeration value="0.50,0.0" />
      <xs:enumeration value="0.50,0.25" />
      <xs:enumeration value="0.50,0.50" />
      <xs:enumeration value="0.50,0.75" />
      <xs:enumeration value="0.50,1" />
      <xs:enumeration value="0.75,0.0" />
      <xs:enumeration value="0.75,0.25" />
      <xs:enumeration value="0.75,0.75" />
      <xs:enumeration value="0.75,1" />
      <xs:enumeration value="1,0" />
      <xs:enumeration value="1,0.25" />
      <xs:enumeration value="1,0.50" />
      <xs:enumeration value="1,0.75" />
      <xs:enumeration value="1,1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaColorClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="White" />
      <xs:enumeration value="DarkBlue" />
      <xs:enumeration value="DarkGray" />
      <xs:enumeration value="DarkGreen" />
      <xs:enumeration value="DarkOrange" />
      <xs:enumeration value="DarkRed" />
      <xs:enumeration value="DarkViolet" />
      <xs:enumeration value="LightBlue" />
      <xs:enumeration value="LightGray" />
      <xs:enumeration value="LightGreen" />
      <xs:enumeration value="Orange" />
      <xs:enumeration value="Violet" />
      <xs:enumeration value="Pink" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaAnimationColorAnimationCollectionClassTopic">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="UnicodeRangeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0000-007F" />
      <xs:enumeration value="0080-00FF" />
      <xs:enumeration value="0100-017F" />
      <xs:enumeration value="0180-024F" />
      <xs:enumeration value="0250-02AF" />
      <xs:enumeration value="02B0-02FF" />
      <xs:enumeration value="0300-036F" />
      <xs:enumeration value="0370-03FF" />
      <xs:enumeration value="0400-04FF" />
      <xs:enumeration value="0500-052F" />
      <xs:enumeration value="1D00-1D7F" />
      <xs:enumeration value="1E00-1EFF" />
      <xs:enumeration value="1F00-1FFF" />
      <xs:enumeration value="FB00-FB0F" />
      <xs:enumeration value="0530-058F" />
      <xs:enumeration value="10D0-10FF" />
      <xs:enumeration value="FB10-FB1C" />
      <xs:enumeration value="0000-052F, 1D00-1FFF, FB00-FB0F" />
      <xs:enumeration value="0530-058F,10D0-10FF,FB10-FB1C" />
      <xs:enumeration value="3000-30FF, 32??, 010000-10FFFF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FontFamilyMapTargetAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Adobe Thai" />
      <xs:enumeration value="Arial" />
      <xs:enumeration value="Sylfaen" />
      <xs:enumeration value="MS Gothic, MS UI Gothic" />
      <xs:enumeration value="Global User Interface" />
      <xs:enumeration value="Simsun" />
      <xs:enumeration value="sans-serif" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CultureAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="en-US" />
      <xs:enumeration value="zh-CHS" />
      <xs:enumeration value="zh-CHT" />
      <xs:enumeration value="ar-JO" />
      <xs:enumeration value="de-LU" />
      <xs:enumeration value="kok" />
      <xs:enumeration value="sr-SP-Cyrl" />
      <xs:enumeration value="vi-VN" />
    </xs:restriction>
  </xs:simpleType>
  <!-- Created for shapes-->
  <xs:simpleType name="frlrfMSAvalonWindowsMediaPenLineCapClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Flat" />
      <xs:enumeration value="Round" />
      <xs:enumeration value="Square" />
      <xs:enumeration value="Triangle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaPenDashCapClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Flat" />
      <xs:enumeration value="Round" />
      <xs:enumeration value="Triangle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaPenLineJoinClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Miter" />
      <xs:enumeration value="Round" />
      <xs:enumeration value="Bevel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaDoubleCollectionClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1.0" />
      <xs:enumeration value="1.0 2.0" />
      <xs:enumeration value="1.0 5.0 3.0 10.0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfSystemStringClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kjzjkcvkjl" />
      <xs:enumeration value="" />
      <xs:enumeration value="jkakfsdkljjjadjkfjoiwqaewre nfda" />
      <xs:enumeration value="afsdjkl;kasjkdfklajdfalskjl;fkasdjlakssjflasdkjl;asdkjfalskdjfl;aksdjf;alksjfl;daskjf" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IndicesSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2,1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CaretStopsSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PageUriSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="pagesource1.xaml" />
      <xs:enumeration value="pagesource2.xaml" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NavigationUIVisibilitySimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Automatic" />
      <xs:enumeration value="Hidden" />
      <xs:enumeration value="Visible" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="JournalOwnershipSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Automatic" />
      <xs:enumeration value="OwnsJournal" />
      <xs:enumeration value="UsesParentJournal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaFillRuleClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EvenOdd" />
      <xs:enumeration value="NonZero" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaPointCollectionClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="15,10 50,30 50,25 45,20 45,15 50,10 55,10 60,15 35,95 50,60 45,35 15,10" />
      <xs:enumeration value="15,10 50,30 50,25 45,20 50,60 45,35 15,10" />
      <xs:enumeration value="15,10 50,50 100,100 100,250 500,1 1,500 400,2 2,400 100,0 0,100 100,100 150,120" />
      <xs:enumeration value="1,10000000000000000 50,50 100,100 100,250 500,1 1,500 400,2 2,400 100,0 0,100 100,100 150,120 10000000000000000,1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaGeometryClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="M 50 50 L 150 50 L 150 100 L 100 100 L 100 75 L 125 75 L 125 150 L 50 150" />
      <xs:enumeration value="M 175 150 L 275 50 L 275 100 L 225 100 L 225 75 L 250 75 L 250 150 L 175 150" />
      <xs:enumeration value="M 175 150 L 575 50 L 235 100 L 285 100 L 250 75 L 280 75 L 250 450 L 125 80" />
      <xs:enumeration value="M 175 150 L 575 50 L 125 80 L 10000000000000000000000000000000 1000000000000000000000000000000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsSpacingClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="10" />
      <xs:enumeration value="0px" />
      <xs:enumeration value="1px" />
      <xs:enumeration value="10px" />
    </xs:restriction>
  </xs:simpleType>
 <xs:simpleType name="FontFamilyBaselineSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0.6" />
      <xs:enumeration value="0.75" />
    </xs:restriction>
  </xs:simpleType>
 <xs:simpleType name="FontFamilyLineSpacingSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1.0" />
      <xs:enumeration value="1.3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="KernelTypeAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Gaussian" />
      <xs:enumeration value="Box" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsHorizontalAlignmentClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Center" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaVerticalAlignmentClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="StretchSimpleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Fill" />
      <xs:enumeration value="Uniform" />
      <xs:enumeration value="UniformToFill" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsMediaImageSourceClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Gone Fishing.bmp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FontStretchAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="UltraCondensed" />
      <xs:enumeration value="ExtraCondensed" />
      <xs:enumeration value="Condensed" />
      <xs:enumeration value="SemiCondensed" />
      <xs:enumeration value="SemiExpanded" />
      <xs:enumeration value="Expanded" />
      <xs:enumeration value="ExtraExpanded" />
      <xs:enumeration value="UltraExpanded" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsControlsPageFitClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FullPage" />
      <xs:enumeration value="PageWidth" />
      <xs:enumeration value="Zoom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsControlsCursorModeClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Panning" />
      <xs:enumeration value="Selection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsFontStyleClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Oblique" />
      <xs:enumeration value="Italic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsFontWeightClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Thin" />
      <xs:enumeration value="ExtraLight" />
      <xs:enumeration value="Light" />
      <xs:enumeration value="Medium" />
      <xs:enumeration value="SemiBold" />
      <xs:enumeration value="Bold" />
      <xs:enumeration value="ExtraBold" />
      <xs:enumeration value="Black" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsTextDecorationsClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Underline" />
      <xs:enumeration value="OverLine" />
      <xs:enumeration value="StrikeThrough" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsTextTrimmingClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="CharacterEllipsis" />
      <xs:enumeration value="WordEllipsis" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TextWrappingAttributeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Wrap" />
      <xs:enumeration value="NoWrap" />
      <xs:enumeration value="WrapWithOverflow" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="frlrfMSAvalonWindowsVerticalBoxAlignmentClassTopic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="Baseline" />
      <xs:enumeration value="TextTop" />
      <xs:enumeration value="TextBottom" />
      <xs:enumeration value="Subscript" />
      <xs:enumeration value="Superscript" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MediaElementSourceAttribute">
    <xs:restriction base="xs:string">
      <xs:enumeration value="bee.wmv" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AngleAttribute">
    <xs:restriction base="xs:string">
      <xs:enumeration value="0" />
      <xs:enumeration value="20" />
      <xs:enumeration value="40" />
      <xs:enumeration value="60" />
      <xs:enumeration value="80" />
      <xs:enumeration value="100" />
      <xs:enumeration value="120" />
      <xs:enumeration value="140" />
      <xs:enumeration value="160" />
      <xs:enumeration value="180" />
      <xs:enumeration value="200" />
      <xs:enumeration value="220" />
      <xs:enumeration value="240" />
      <xs:enumeration value="260" />
      <xs:enumeration value="280" />
      <xs:enumeration value="300" />
      <xs:enumeration value="320" />
      <xs:enumeration value="340" />
      <xs:enumeration value="360" />
      <xs:enumeration value="380" />
    </xs:restriction>
  </xs:simpleType>
  
</xs:schema>