src/Test/Editing/Common/Tools/Doc-Rtf Conversion Tool/Office12FileScan.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ScanFiles">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="File">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Path" type="xs:string" />
							<xs:element name="ScanInformation">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ScanToolWordVersion" type="xs:string" />
										<xs:element name="ScanToolSharedVersion" type="xs:string" />
										<xs:element name="OfficeVersion" type="xs:string" />
										<xs:element name="WordVersion" type="xs:string" />
										<xs:element name="ExcelVersion" type="xs:string" />
										<xs:element name="PowerpointVersion" type="xs:string" />
										<xs:element name="ScanDate" type="xs:string" />
										<xs:element name="ScanTime" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="1" maxOccurs="1" name="CommonProperties">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ApplicationName" type="xs:string" />
										<xs:element name="FileType" type="xs:string" />
										<xs:element name="FileExtension" type="xs:string" />
										<xs:element name="MajorVersion" type="xs:unsignedByte" />
										<xs:element name="MinorVersion" type="xs:unsignedShort" />
										<xs:element name="Size" type="xs:int" />
										<xs:element name="CreatedDate" type="xs:string" />
										<xs:element name="LastSavedDate" type="xs:string" />
										<xs:element name="Language" type="xs:string" />
										<xs:element name="RightsManagementProtection" type="xs:string" />
										<xs:element name="PageSheetSlideCount" type="xs:unsignedByte" />
										<xs:element name="VBAProjectExists" type="xs:string" />
										<xs:element name="VBAProjectLinesOfCode" type="xs:unsignedByte" />
										<xs:element name="VBAProjectCodeModuleCount" type="xs:unsignedByte" />
										<xs:element name="VBAProjectUserFormCount" type="xs:unsignedByte" />
										<xs:element name="CommentCount" type="xs:unsignedByte" />
										<xs:element name="RevisionTracking" type="xs:string" />
										<xs:element name="HyperlinkCount" type="xs:unsignedByte" />
										<xs:element name="SmartTagCount" type="xs:unsignedByte" />
										<xs:element name="PortraitOrientation" type="xs:string" />
										<xs:element name="LandscapeOrientation" type="xs:string" />
										<xs:element name="OLEObjectCountAll" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountWord" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountExcel" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountPowerPoint" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountVisio" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountIGX" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountChart" type="xs:unsignedByte" />
										<xs:element name="ImageCount" type="xs:unsignedByte" />
										<xs:element name="ShapeCount" type="xs:unsignedByte" />
										<xs:element name="RevisionCount" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="WordProperties">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FootnoteCountAll" type="xs:unsignedByte" />
										<xs:element name="FootnotesBeneathText" type="xs:string" />
										<xs:element name="FootnotesAtBottomOfPage" type="xs:string" />
										<xs:element name="EndnoteCountAll" type="xs:unsignedByte" />
										<xs:element name="EndnotesAtEndOfSection" type="xs:string" />
										<xs:element name="EndnotesAtEndOfDocument" type="xs:string" />
										<xs:element name="EndnotesSuppressed" type="xs:string" />
										<xs:element name="HeadersDifferentOnFirstPage" type="xs:string" />
										<xs:element name="HeadersDifferentOnEvenPages" type="xs:string" />
										<xs:element name="NonDefaultHeaderMargin" type="xs:string" />
										<xs:element name="FootersDifferentOnFirstPage" type="xs:string" />
										<xs:element name="FootersDifferentOnEvenPages" type="xs:string" />
										<xs:element name="NonDefaultFooterMargin" type="xs:string" />
										<xs:element name="PageBorderExists" type="xs:string" />
										<xs:element name="PageBorderAppliedToFirstPage" type="xs:string" />
										<xs:element name="PageBorderAppliedToAllButFirstPage" type="xs:string" />
										<xs:element name="PageBorderAppliedToWholeDocument" type="xs:string" />
										<xs:element name="PageBorderMeasuredFromEdgeOfPage" type="xs:string" />
										<xs:element name="PageBorderMeasuredFromEdgeOfText" type="xs:string" />
										<xs:element name="PageCount" type="xs:unsignedByte" />
										<xs:element name="PageVerticalAlignmentTop" type="xs:string" />
										<xs:element name="PageVerticalAlignmentBottom" type="xs:string" />
										<xs:element name="PageVerticalAlignmentCenter" type="xs:string" />
										<xs:element name="PageVerticalAlignmentJustify" type="xs:string" />
										<xs:element name="PageOrientationPortrait" type="xs:string" />
										<xs:element name="PageOrientationLandscape" type="xs:string" />
										<xs:element name="PageNormalMultipages" type="xs:string" />
										<xs:element name="PageMirrorMargins" type="xs:string" />
										<xs:element name="Page2PagesPerSheet" type="xs:string" />
										<xs:element name="NonDefaultLeftMargin" type="xs:string" />
										<xs:element name="NonDefaultRightMargin" type="xs:string" />
										<xs:element name="NonDefaultTopMargin" type="xs:string" />
										<xs:element name="NonDefaultBottomMargin" type="xs:string" />
										<xs:element name="NonDefaultGutterMargin" type="xs:string" />
										<xs:element name="GutterStyleLeft" type="xs:string" />
										<xs:element name="GutterStyleRight" type="xs:string" />
										<xs:element name="GutterStyleTop" type="xs:string" />
										<xs:element name="UsesDocumentGrid" type="xs:string" />
										<xs:element name="LineGridOnly" type="xs:string" />
										<xs:element name="LineAndCharacterGrid" type="xs:string" />
										<xs:element name="SnapToCharacterGrid" type="xs:string" />
										<xs:element name="SectionBreakCount" type="xs:unsignedByte" />
										<xs:element name="SectionBreakNextPage" type="xs:string" />
										<xs:element name="SectionBreakContinuous" type="xs:string" />
										<xs:element name="SectionBreakEvenPage" type="xs:string" />
										<xs:element name="SectionBreakOddPage" type="xs:string" />
										<xs:element name="MultiColumnsExist" type="xs:string" />
										<xs:element name="EqualColumnSpacing" type="xs:string" />
										<xs:element name="ColumnBalancing" type="xs:string" />
										<xs:element name="WidowOrphanControlEnabled" type="xs:string" />
										<xs:element name="KeepWithNextEnabled" type="xs:string" />
										<xs:element name="KeepLinesTogetherEnabled" type="xs:string" />
										<xs:element name="PageBreakBeforeEnabled" type="xs:string" />
										<xs:element name="SuppressLineNumbersEnabled" type="xs:string" />
										<xs:element name="DontHyphenateEnabled" type="xs:string" />
										<xs:element name="DropCapCount" type="xs:unsignedByte" />
										<xs:element name="NormalDropCap" type="xs:string" />
										<xs:element name="DropCapInMargin" type="xs:string" />
										<xs:element name="LineNumberingRestartsEachPage" type="xs:string" />
										<xs:element name="LineNumberingRestartsEachSection" type="xs:string" />
										<xs:element name="ContinuousLineNumbering" type="xs:string" />
										<xs:element name="FloatingShapeCount" type="xs:unsignedByte" />
										<xs:element name="FloatingPictureCount" type="xs:unsignedByte" />
										<xs:element name="FloatingTextBoxCount" type="xs:unsignedByte" />
										<xs:element name="FloatingOCXCount" type="xs:unsignedByte" />
										<xs:element name="FloatingOLECount" type="xs:unsignedByte" />
										<xs:element name="WrapStyleSquare" type="xs:string" />
										<xs:element name="WrapStyleTightOrThrough" type="xs:string" />
										<xs:element name="WrapStyleBehindOrInFront" type="xs:string" />
										<xs:element name="WrapStyleThrough" type="xs:string" />
										<xs:element name="WrapStyleTopAndBottom" type="xs:string" />
										<xs:element name="TableCountAll" type="xs:unsignedByte" />
										<xs:element name="TableAlignedLeft" type="xs:string" />
										<xs:element name="TableAlignedRight" type="xs:string" />
										<xs:element name="TableAlignedCenter" type="xs:string" />
										<xs:element name="NoTextWrapAroundTable" type="xs:string" />
										<xs:element name="TextWrapsAroundTable" type="xs:string" />
										<xs:element name="RowsBreakAcrossPages" type="xs:string" />
										<xs:element name="RepeatHeaderRows" type="xs:string" />
										<xs:element name="NestedTablesExistAll" type="xs:string" />
										<xs:element name="InlinePictureCount" type="xs:unsignedByte" />
										<xs:element name="PseudoInlineObject" type="xs:string" />
										<xs:element name="FrameCount" type="xs:unsignedByte" />
										<xs:element name="TextWrapsAroundFrame" type="xs:string" />
										<xs:element name="SectionTextFlowsLeftToRight" type="xs:string" />
										<xs:element name="SectionTextFlowsRightToLeft" type="xs:string" />
										<xs:element name="ParagraphTextFlowsLeftToRight" type="xs:string" />
										<xs:element name="ParagraphTextFlowsRightToLeft" type="xs:string" />
										<xs:element name="TableTextFlowsLeftToRight" type="xs:string" />
										<xs:element name="TableTextFlowsRightToLeft" type="xs:string" />
										<xs:element name="BookmarkCount" type="xs:unsignedByte" />
										<xs:element name="FieldCountAll" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCountAll" type="xs:unsignedByte" />
										<xs:element name="TOACountAll" type="xs:unsignedByte" />
										<xs:element name="TOCCountAll" type="xs:unsignedByte" />
										<xs:element name="TOFCountAll" type="xs:unsignedByte" />
										<xs:element name="FormFieldCountAll" type="xs:unsignedByte" />
										<xs:element name="IndexCountAll" type="xs:unsignedByte" />
										<xs:element name="StyleCount" type="xs:unsignedByte" />
										<xs:element name="SubdocumentCount" type="xs:unsignedByte" />
										<xs:element name="CommentCountAll" type="xs:unsignedByte" />
										<xs:element name="ListCountAll" type="xs:unsignedByte" />
										<xs:element name="ListItemCountAll" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountAll" type="xs:unsignedByte" />
										<xs:element name="ByteCount" type="xs:unsignedInt" />
										<xs:element name="CharactersMainDocCount" type="xs:unsignedShort" />
										<xs:element name="WordsMainDocCount" type="xs:unsignedShort" />
										<xs:element name="VerticalTextInMainDocument" type="xs:string" />
										<xs:element name="VerticalTextInTable" type="xs:string" />
										<xs:element name="VerticalTextInTextbox" type="xs:string" />
										<xs:element name="VerticalTextInFrame" type="xs:string" />
										<xs:element name="RevisionCountAll" type="xs:unsignedByte" />
										<xs:element name="ColumnBreaksExist" type="xs:string" />
										<xs:element name="TextWrapBreaksExist" type="xs:string" />
										<xs:element name="PageBreaksExist" type="xs:string" />
										<xs:element name="StyleSheetCount" type="xs:unsignedByte" />
										<xs:element name="DrawCanvasExists" type="xs:string" />
										<xs:element name="PageBookFold" type="xs:string" />
										<xs:element name="PageBookFoldReverse" type="xs:string" />
										<xs:element name="DocumentHasTheme" type="xs:string" />
										<xs:element name="DocCustomPropertyCount" type="xs:unsignedByte" />
										<xs:element name="VBAProjectExists" type="xs:string" />
										<xs:element name="VBAFormExists" type="xs:string" />
										<xs:element name="VBACodeModuleExists" type="xs:string" />
										<xs:element name="VBAClassModuleExists" type="xs:string" />
										<xs:element name="LinkedTextboxesExist" type="xs:string" />
										<xs:element name="HasRoutingSlip" type="xs:string" />
										<xs:element name="MailMergeDocument" type="xs:string" />
										<xs:element name="ProtectedForComments" type="xs:string" />
										<xs:element name="ProtectedForFormFields" type="xs:string" />
										<xs:element name="ProtectedForRevisions" type="xs:string" />
										<xs:element name="DigitalSignatureCount" type="xs:unsignedByte" />
										<xs:element name="ParagraphHasNegativeIndent" type="xs:string" />
										<xs:element name="HTMLDivisionsCount" type="xs:unsignedByte" />
										<xs:element name="InlineOLECount" type="xs:unsignedByte" />
										<xs:element name="InlineOCXCount" type="xs:unsignedByte" />
										<xs:element name="StylesCustomParaCount" type="xs:unsignedByte" />
										<xs:element name="StylesCustomCharCount" type="xs:unsignedByte" />
										<xs:element name="StylesCustomListCount" type="xs:unsignedByte" />
										<xs:element name="StylesCustomTableCount" type="xs:unsignedByte" />
										<xs:element name="PageBorderArtUsed" type="xs:string" />
										<xs:element name="OutlineLevelExists" type="xs:string" />
										<xs:element name="HTMLScriptCount" type="xs:unsignedByte" />
										<xs:element name="CustomCommandBarCount" type="xs:unsignedByte" />
										<xs:element name="FooterFloatingObjectCount" type="xs:unsignedByte" />
										<xs:element name="HeaderFloatingObjectCount" type="xs:unsignedByte" />
										<xs:element name="InlineWordArtCount" type="xs:unsignedByte" />
										<xs:element name="DrawingCanvasObjectCount" type="xs:unsignedByte" />
										<xs:element name="DrawingCanvasAutoShapeCount" type="xs:unsignedByte" />
										<xs:element name="FloatingObjectsFillEffectsExists" type="xs:string" />
										<xs:element name="FloatingObjectsLineEffectsExists" type="xs:string" />
										<xs:element name="FloatingObjects3DStyleExists" type="xs:string" />
										<xs:element name="FloatingObjectsShadowStyleExists" type="xs:string" />
										<xs:element name="FloatingObjectsNonSingleLineStyleExists" type="xs:string" />
										<xs:element name="FloatingObjectsNonSolidDashStyleExists" type="xs:string" />
										<xs:element name="FooterInlineObjectCount" type="xs:unsignedByte" />
										<xs:element name="HeaderInlineObjectCount" type="xs:unsignedByte" />
										<xs:element name="FloatingWordArtCount" type="xs:unsignedByte" />
										<xs:element name="FieldExistsREF" type="xs:string" />
										<xs:element name="FieldExistsXE" type="xs:string" />
										<xs:element name="FieldExistsFTNREF" type="xs:string" />
										<xs:element name="FieldExistsSET" type="xs:string" />
										<xs:element name="FieldExistsIF" type="xs:string" />
										<xs:element name="FieldExistsINDEX" type="xs:string" />
										<xs:element name="FieldExistsTC" type="xs:string" />
										<xs:element name="FieldExistsSTYLEREF" type="xs:string" />
										<xs:element name="FieldExistsRD" type="xs:string" />
										<xs:element name="FieldExistsSEQ" type="xs:string" />
										<xs:element name="FieldExistsTOC" type="xs:string" />
										<xs:element name="FieldExistsINFO" type="xs:string" />
										<xs:element name="FieldExistsTITLE" type="xs:string" />
										<xs:element name="FieldExistsSUBJECT" type="xs:string" />
										<xs:element name="FieldExistsAUTHOR" type="xs:string" />
										<xs:element name="FieldExistsKEYWORDS" type="xs:string" />
										<xs:element name="FieldExistsCOMMENTS" type="xs:string" />
										<xs:element name="FieldExistsLASTSAVEDBY" type="xs:string" />
										<xs:element name="FieldExistsCREATEDATE" type="xs:string" />
										<xs:element name="FieldExistsSAVEDATE" type="xs:string" />
										<xs:element name="FieldExistsPRINTDATE" type="xs:string" />
										<xs:element name="FieldExistsREVNUM" type="xs:string" />
										<xs:element name="FieldExistsEDITTIME" type="xs:string" />
										<xs:element name="FieldExistsNUMPAGES" type="xs:string" />
										<xs:element name="FieldExistsNUMWORDS" type="xs:string" />
										<xs:element name="FieldExistsNUMCHARS" type="xs:string" />
										<xs:element name="FieldExistsFILENAME" type="xs:string" />
										<xs:element name="FieldExistsTEMPLATE" type="xs:string" />
										<xs:element name="FieldExistsDATE" type="xs:string" />
										<xs:element name="FieldExistsTIME" type="xs:string" />
										<xs:element name="FieldExistsPAGE" type="xs:string" />
										<xs:element name="FieldExistsEquals" type="xs:string" />
										<xs:element name="FieldExistsQUOTE" type="xs:string" />
										<xs:element name="FieldExistsINCLUDE" type="xs:string" />
										<xs:element name="FieldExistsPAGEREF" type="xs:string" />
										<xs:element name="FieldExistsASK" type="xs:string" />
										<xs:element name="FieldExistsFILLIN" type="xs:string" />
										<xs:element name="FieldExistsDATA" type="xs:string" />
										<xs:element name="FieldExistsNEXT" type="xs:string" />
										<xs:element name="FieldExistsNEXTIF" type="xs:string" />
										<xs:element name="FieldExistsSKIPIF" type="xs:string" />
										<xs:element name="FieldExistsMERGEREC" type="xs:string" />
										<xs:element name="FieldExistsDDE" type="xs:string" />
										<xs:element name="FieldExistsDDEAUTO" type="xs:string" />
										<xs:element name="FieldExistsGLOSSARY" type="xs:string" />
										<xs:element name="FieldExistsPRINT" type="xs:string" />
										<xs:element name="FieldExistsEQ" type="xs:string" />
										<xs:element name="FieldExistsGOTOBUTTON" type="xs:string" />
										<xs:element name="FieldExistsMACROBUTTON" type="xs:string" />
										<xs:element name="FieldExistsAUTONUMOUT" type="xs:string" />
										<xs:element name="FieldExistsAUTONUMLGL" type="xs:string" />
										<xs:element name="FieldExistsAUTONUM" type="xs:string" />
										<xs:element name="FieldExistsIMPORT" type="xs:string" />
										<xs:element name="FieldExistsLINK" type="xs:string" />
										<xs:element name="FieldExistsSYMBOL" type="xs:string" />
										<xs:element name="FieldExistsEMBED" type="xs:string" />
										<xs:element name="FieldExistsMERGEFIELD" type="xs:string" />
										<xs:element name="FieldExistsUSERNAME" type="xs:string" />
										<xs:element name="FieldExistsUSERINITIALS" type="xs:string" />
										<xs:element name="FieldExistsUSERADDRESS" type="xs:string" />
										<xs:element name="FieldExistsBARCODE" type="xs:string" />
										<xs:element name="FieldExistsDOCVARIABLE" type="xs:string" />
										<xs:element name="FieldExistsSECTION" type="xs:string" />
										<xs:element name="FieldExistsSECTIONPAGES" type="xs:string" />
										<xs:element name="FieldExistsINCLUDEPICTURE" type="xs:string" />
										<xs:element name="FieldExistsINCLUDETEXT" type="xs:string" />
										<xs:element name="FieldExistsFILESIZE" type="xs:string" />
										<xs:element name="FieldExistsTEXTINPUT" type="xs:string" />
										<xs:element name="FieldExistsCHECKBOX" type="xs:string" />
										<xs:element name="FieldExistsNOTEREF" type="xs:string" />
										<xs:element name="FieldExistsTOA" type="xs:string" />
										<xs:element name="FieldExistsTA" type="xs:string" />
										<xs:element name="FieldExistsMERGESEQ" type="xs:string" />
										<xs:element name="FieldExistsCode76" type="xs:string" />
										<xs:element name="FieldExistsPRIVATE" type="xs:string" />
										<xs:element name="FieldExistsDATABASE" type="xs:string" />
										<xs:element name="FieldExistsAUTOTEXT" type="xs:string" />
										<xs:element name="FieldExistsCOMPARE" type="xs:string" />
										<xs:element name="FieldExistsADDIN" type="xs:string" />
										<xs:element name="FieldExistsSUBSCRIBER" type="xs:string" />
										<xs:element name="FieldExistsDROPDOWN" type="xs:string" />
										<xs:element name="FieldExistsADVANCE" type="xs:string" />
										<xs:element name="FieldExistsDOCPROPERTY" type="xs:string" />
										<xs:element name="FieldExistsDISPLAYNFC" type="xs:string" />
										<xs:element name="FieldExistsOCX" type="xs:string" />
										<xs:element name="FieldExistsHYPERLINK" type="xs:string" />
										<xs:element name="FieldExistsAUTOTEXTLIST" type="xs:string" />
										<xs:element name="FieldExistsLISTNUM" type="xs:string" />
										<xs:element name="FieldExistsHTMLACTIVEX" type="xs:string" />
										<xs:element name="FieldExistsBIDIOUTLINE" type="xs:string" />
										<xs:element name="FieldExistsADDRESSBLOCK" type="xs:string" />
										<xs:element name="FieldExistsGREETINGLINE" type="xs:string" />
										<xs:element name="FieldExistsSHAPE" type="xs:string" />
										<xs:element name="FieldCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="FieldCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="FieldCountTextbox" type="xs:unsignedByte" />
										<xs:element name="FieldCountComments" type="xs:unsignedByte" />
										<xs:element name="FieldCountTables" type="xs:unsignedByte" />
										<xs:element name="FieldCountFrames" type="xs:unsignedByte" />
										<xs:element name="FieldCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="ListBulleted" type="xs:string" />
										<xs:element name="ListPictureBulleted" type="xs:string" />
										<xs:element name="ListNumbered" type="xs:string" />
										<xs:element name="ListOutlineNumbered" type="xs:string" />
										<xs:element name="ListCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="ListCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="ListCountTextboxes" type="xs:unsignedByte" />
										<xs:element name="ListCountComments" type="xs:unsignedByte" />
										<xs:element name="ListCountTables" type="xs:unsignedByte" />
										<xs:element name="ListCountFrames" type="xs:unsignedByte" />
										<xs:element name="ListCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountTextbox" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountComments" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountTables" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountFrames" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="ParagraphCountAll" type="xs:unsignedByte" />
										<xs:element name="DisableFeatures" type="xs:string" />
										<xs:element name="HTMLFrameCount" type="xs:unsignedByte" />
										<xs:element name="VBAProjectSigned" type="xs:string" />
										<xs:element name="OptimizeForBrowser" type="xs:string" />
										<xs:element name="HyperlinkCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCountTextboxes" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCountComments" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCountTables" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCountFrames" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="ListItemCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="ListItemCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="ListItemCountTextboxes" type="xs:unsignedByte" />
										<xs:element name="ListItemCountComments" type="xs:unsignedByte" />
										<xs:element name="ListItemCountTables" type="xs:unsignedByte" />
										<xs:element name="ListItemCountFrames" type="xs:unsignedByte" />
										<xs:element name="ListItemCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountTextboxes" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountComments" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountTables" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountFrames" type="xs:unsignedByte" />
										<xs:element name="SmartTagCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="RevisionCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="RevisionCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="RevisionCountTextboxes" type="xs:unsignedByte" />
										<xs:element name="RevisionCountTables" type="xs:unsignedByte" />
										<xs:element name="RevisionCountFrames" type="xs:unsignedByte" />
										<xs:element name="RevisionCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="TableCountHeaderFooter" type="xs:unsignedByte" />
										<xs:element name="TableCountFootnoteEndnote" type="xs:unsignedByte" />
										<xs:element name="TableCountTextboxes" type="xs:unsignedByte" />
										<xs:element name="TableCountComments" type="xs:unsignedByte" />
										<xs:element name="TableCountFrames" type="xs:unsignedByte" />
										<xs:element name="TableCountMainDocument" type="xs:unsignedByte" />
										<xs:element name="NestedTablesExistHeaderFooter" type="xs:string" />
										<xs:element name="NestedTablesExistFootnoteEndnote" type="xs:string" />
										<xs:element name="NestedTablesExistTextboxes" type="xs:string" />
										<xs:element name="NestedTablesExistComments" type="xs:string" />
										<xs:element name="NestedTablesExistFrames" type="xs:string" />
										<xs:element name="NestedTablesExistMainDocument" type="xs:string" />
										<xs:element name="EndnoteCountTables" type="xs:unsignedByte" />
										<xs:element name="EndnoteCountFrames" type="xs:unsignedByte" />
										<xs:element name="FootnoteCountTables" type="xs:unsignedByte" />
										<xs:element name="FootnoteCountFrames" type="xs:unsignedByte" />
										<xs:element name="CommentCountTables" type="xs:unsignedByte" />
										<xs:element name="CommentCountFrames" type="xs:unsignedByte" />
										<xs:element name="FormFieldCountTables" type="xs:unsignedByte" />
										<xs:element name="FormFieldCountFrames" type="xs:unsignedByte" />
										<xs:element name="IndexCountTables" type="xs:unsignedByte" />
										<xs:element name="IndexCountFrames" type="xs:unsignedByte" />
										<xs:element name="TOACountTables" type="xs:unsignedByte" />
										<xs:element name="TOACountFrames" type="xs:unsignedByte" />
										<xs:element name="TOCCountTables" type="xs:unsignedByte" />
										<xs:element name="TOCCountFrames" type="xs:unsignedByte" />
										<xs:element name="TOFCountTables" type="xs:unsignedByte" />
										<xs:element name="TOFCountFrames" type="xs:unsignedByte" />
										<xs:element name="ListTemplateCount" type="xs:unsignedByte" />
										<xs:element name="ProtectedForReadOnly" type="xs:string" />
										<xs:element name="EquationEditor3ObjectCount" type="xs:unsignedByte" />
										<xs:element name="EquationEditor12ObjectCount" type="xs:unsignedByte" />
										<xs:element name="KeepWithNextONAndKeepLinesTogetherOFF" type="xs:string" />
										<xs:element name="KeepWithNextONInFootnote" type="xs:string" />
										<xs:element name="RevisionCommentAuthorCount" type="xs:unsignedByte" />
										<xs:element name="NumberOfFontsUsed" type="xs:unsignedByte" />
										<xs:element name="BibliographyTermsExist" type="xs:string" />
										<xs:element name="HTMLMarqueOCXCount" type="xs:unsignedByte" />
										<xs:element name="HTMLMMOCXCount" type="xs:unsignedByte" />
										<xs:element name="OCXTotalCount" type="xs:unsignedByte" />
										<xs:element name="FloatingObjectAffectsTextFlow" type="xs:unsignedByte" />
										<xs:element name="OLETotalCount" type="xs:unsignedByte" />
										<xs:element name="DrawCanvasCountFloating" type="xs:unsignedByte" />
										<xs:element name="DrawCanvasCountInline" type="xs:unsignedByte" />
										<xs:element name="DrawCanvasCountTotal" type="xs:unsignedByte" />
										<xs:element name="DrawingCanvasTextboxCount" type="xs:unsignedByte" />
										<xs:element name="DrawingCanvasPictureCount" type="xs:unsignedByte" />
										<xs:element name="TextboxTotalCount" type="xs:unsignedByte" />
										<xs:element name="TextboxInlineCount" type="xs:unsignedByte" />
										<xs:element name="TextboxGroupCount" type="xs:unsignedByte" />
										<xs:element name="TotalWordArtCount" type="xs:unsignedByte" />
										<xs:element name="OvalCountInline" type="xs:unsignedByte" />
										<xs:element name="OvalCountFloating" type="xs:unsignedByte" />
										<xs:element name="OvalCountAll" type="xs:unsignedByte" />
										<xs:element name="RectangleCountInline" type="xs:unsignedByte" />
										<xs:element name="RectangleCountFloating" type="xs:unsignedByte" />
										<xs:element name="RectangleCountAll" type="xs:unsignedByte" />
										<xs:element name="LineCountInline" type="xs:unsignedByte" />
										<xs:element name="LineCountFloating" type="xs:unsignedByte" />
										<xs:element name="LineCountAll" type="xs:unsignedByte" />
										<xs:element name="DiagramCountInline" type="xs:unsignedByte" />
										<xs:element name="DiagramCountFloating" type="xs:unsignedByte" />
										<xs:element name="DiagramCountAll" type="xs:unsignedByte" />
										<xs:element name="DiagramCountTypeOrgchart" type="xs:unsignedByte" />
										<xs:element name="DiagramCountTypeCycle" type="xs:unsignedByte" />
										<xs:element name="DiagramCountTypeRadial" type="xs:unsignedByte" />
										<xs:element name="DiagramCountTypePyramid" type="xs:unsignedByte" />
										<xs:element name="DiagramCountTypeVenn" type="xs:unsignedByte" />
										<xs:element name="DiagramCountTypeTarget" type="xs:unsignedByte" />
										<xs:element name="WrapStyleCountSquare" type="xs:unsignedByte" />
										<xs:element name="WrapStyleCountTightOrThrough" type="xs:unsignedByte" />
										<xs:element name="WrapStyleCountBehindOrInFront" type="xs:unsignedByte" />
										<xs:element name="WrapStyleCountThrough" type="xs:unsignedByte" />
										<xs:element name="WrapStyleCountTopAndBottom" type="xs:unsignedByte" />
										<xs:element name="StylesRedefinedNormal" type="xs:string" />
										<xs:element name="StylesFakedNormal" type="xs:string" />
										<xs:element name="StylesRealHeadings" type="xs:string" />
										<xs:element name="StylesThreeFonts" type="xs:string" />
										<xs:element name="TableAutofitToContents" type="xs:string" />
										<xs:element name="TableAutofitToWindow" type="xs:string" />
										<xs:element name="TableFixedWidthCells" type="xs:string" />
										<xs:element name="StylesNormalNormal" type="xs:string" />
										<xs:element name="StylesFakedHeadings" type="xs:string" />
										<xs:element name="FontUsage1" type="xs:unsignedByte" />
										<xs:element name="FontUsage2" type="xs:unsignedByte" />
										<xs:element name="FontUsage3" type="xs:unsignedByte" />
										<xs:element name="FontUsage4" type="xs:unsignedByte" />
										<xs:element name="HeaderExists" type="xs:string" />
										<xs:element name="FooterExists" type="xs:string" />
										<xs:element name="RevisionTrackingEnabled" type="xs:string" />
										<xs:element name="VBAProjectLineOfCode" type="xs:unsignedByte" />
										<xs:element name="VBAProjectCodeModuleCount" type="xs:unsignedByte" />
										<xs:element name="VBAProjectUserFormCount" type="xs:unsignedByte" />
										<xs:element name="IRMEnabled" type="xs:string" />
										<xs:element name="FileMajorVersion" type="xs:unsignedByte" />
										<xs:element name="FileMinorVersion" type="xs:unsignedShort" />
										<xs:element name="OLEObjectCountWord" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountExcel" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountPowerPoint" type="xs:unsignedByte" />
										<xs:element name="OLEObjectCountVisio" type="xs:unsignedByte" />
										<xs:element name="ShapeCountTotal" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="PowerPointProperties">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SlideCount" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCount" type="xs:unsignedByte" />
										<xs:element name="MastersCount" type="xs:unsignedByte" />
										<xs:element name="PlaceholderCount" type="xs:unsignedByte" />
										<xs:element name="MediaCount" type="xs:unsignedByte" />
										<xs:element name="InkAnnotationCount" type="xs:unsignedByte" />
										<xs:element name="TableCount" type="xs:unsignedByte" />
										<xs:element name="AutoShapeCount" type="xs:unsignedByte" />
										<xs:element name="WordArtCount" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element minOccurs="0" maxOccurs="1" name="ExcelProperties">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="WorkbookName" type="xs:string" />
										<xs:element name="SheetCount" type="xs:unsignedByte" />
										<xs:element name="HyperlinkCount" type="xs:unsignedByte" />
										<xs:element name="SmartTagCount" type="xs:unsignedByte" />
										<xs:element name="PortraitOrientation" type="xs:string" />
										<xs:element name="LandscapeOrientation" type="xs:string" />
										<xs:element name="SharedWorkbook" type="xs:string" />
										<xs:element name="PivotTableCount" type="xs:unsignedByte" />
										<xs:element name="PivotCacheCount" type="xs:unsignedByte" />
										<xs:element name="ListObjectCount" type="xs:unsignedByte" />
										<xs:element name="AutoFilterCount" type="xs:unsignedByte" />
										<xs:element name="WorkbookNamedRanges" type="xs:unsignedByte" />
										<xs:element name="XMLMapsCount" type="xs:unsignedByte" />
										<xs:element name="XMLNamespacesCount" type="xs:unsignedByte" />
										<xs:element name="QueryTableCount" type="xs:unsignedByte" />
										<xs:element name="Connections" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>